.nav {
  margin-bottom: 20px !important;
  font-size: 1.4em;
}

@media (max-width: 768px) {
  .nav {
    margin-bottom: 5px !important;
    font-size: 0.8em;
  }
  .nav>li>a {
    padding: 5px !important;
  }
}
