@font-face {
  font-family: 'CenturyGothic';
  src: url('./static/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('./static/fonts/CenturyGothic.woff') format('woff'), url('./static/fonts/CenturyGothic.ttf') format('truetype'), url('./static/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic', sans-serif;
  font-size: 12px;
}

.container, .container-fluid {
  margin-top: 5%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
}
